/*  work san font form google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

.text-light-gray {
    color: #727272;
    margin-top: 30px;
    font-size: 1rem;
}

.btn-primary {
    border-radius: 10px;
    color: #ffffff;
    background-color: #FF900E;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    padding: 20px 25px;
    border: 0;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

/* shared styles end */
/* header nav optin style satrt */

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

nav>ul {
    display: flex;
}

nav li {
    margin-left: 30px;
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
}

nav ul li a {
    text-decoration: none;
    color: #424242;
}

/* header optin style end */

/* header banner style start */

.banner-content {
    max-width: 862px;
    text-align: center;
    margin: 0 auto;

}

.banner-title {
    margin-top: 30px;
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.explore {
    margin-top: 30px;
}

.banner img {
    width: 100%;
    margin-top: 30px;
}

/* header banner style end */

/* main styles start */


main {
    max-width: 1440px;
    margin: 80px auto;
}

/* teams styles start */

.teams-container {
    display: flex;

    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title .list-features {
    font-size: 45px;
    font-weight: 500;
}

.teams-title .our {
    font-size: 45px;
    font-weight: 700;
}

.teams-title .features {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

.teams-btn {
    margin-top: 30px;
}

/* teams styles end */

/* facts section start */

.facts-container {
    margin-top: 70px;
}

.facts-card-container {
    display: flex;
    margin-top: 70px;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    border: 1px solid #FF900E;
}

.facts-card-container .card-stats {
    color: #424242;
    font-size: 45px;
}

.facts-card-container .card-title {
    color: #727272;
    
    font-weight: 600;
    font-size: 20px;
}

/* facts section end */

/* sponsors seciton start */

.sponsors{
    margin-top: 70px;
    text-align: center;
}
.sponsors-title{
    margin-bottom: 40px;
}
.sponsors-img-container{
    display: flex;
    justify-content: space-evenly;
}
.sponsors-img-container img{
    width: 165px;
}

/* sponsors seciton end */

/* main styles end */

/* footer style start */

footer{
    max-width: 1440px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 80px auto;
    border-radius: 10px;
    background-color: rgba(255, 144, 14, 0.10);
}
footer p{
    text-align: center;
}
/* footer style end */
/* mobile responsive media queary styles start */

@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .facts-card-container, .sponsors-img-container {
        flex-direction: column;
    }

    nav li {
        margin-top: 20px;
        margin-left: 22px;
    }

    /* teams section start */

    .teams-content,
    .facts-card-container {
        gap: 20px;
        padding-left: 70px;
        padding-right: 70px;
        text-align: center;
    }

    .teams-img-container {
        margin-top: 30px;
        grid-template-columns: repeat(1, 1fr);
    }

    .teams-container {
        flex-direction: column-reverse;
    }

    /* teams section end */
    /* facts card section start */

    .facts-container{
        text-align: center;
    }

    /* facts card section end */

    /* sponsors section style start */

.sponsors-img-container{
    align-items: center;
    gap: 30px;
}
/* sponsors section style end */

/* footer style start */

footer{
    padding-left: 70px;
    padding-right: 70px;
}
/* footer style end */

}



/* mobile responsive media queary styles end */

/* table or medium devices media queary styles start */

@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }

    nav li {
        margin-top: 20px;
        margin-left: 22px;
    }

    /* teams content section start */
    .teams-container {
        flex-direction: column-reverse;
    }

    .teams-content {
        text-align: center;
        padding-left: 70px;
        padding-right: 70px;

    }

    .teams-img-container {
        margin-top: 30px;
    }

    /* teams content section end */

    /* facts card section start */
    .facts-card-container{
        display: grid;
        padding-left: 70px;
        padding-right: 70px;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    .facts-container{
        text-align: center;
    }
    /* facts card section end */

    /* sponsors section start */

    .sponsors-img-container{
        display: grid;
        margin-left: 150px;
        gap: 30px;
        grid-template-columns: repeat(2, 1fr);
    }
    /* sponsors section end */
}

/* table or medium devices media queary styles end */